button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: underline;
  background: white;
  font-size: 1rem;
  font-family: 'Crimson Text', serif;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background: #eee;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.99);
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 50px;
}